<form id = "formdate">
    <div class="form-group" id= "formphd">
        <div class="row">
            <div class="col-md-12">
                <label for="horainicio">De</label>
                <input id = "dateinicio" type="datetime-local" class="form-control" value="">
            </div>
            <div class="col-md-12">
                <label for="horainicio">Até</label>
                <input id = "datefinal" type="datetime-local" class="form-control" value="">
            </div>
            <br><br><br><br>
            <div class="col-md-12">
                <button type="submit" class="btn btn-outline-primary">Filtrar datas</button>
            </div>
        </div>
    </div>

</form>



