<div class="container center-text">    
    <table class="table table-bordered" id="feed">
        <tr>
            <th width="20%">Nome</th>
            <th width="40%">Link</th>
            <th width="20%">Remover</th>
        </tr>
        <div>
        <tr th:each="lista : ${blogs}">
            <td class="align-middle" th:text="${lista.value.getNome()}"></td>
            <td class="align-middle"><a th:href="${lista.value.getUri()}" th:text="${lista.value.getUri()}"></a></td>
            <td class="align-middle">
                <form method="POST" action="/RemoverSite">
                    <input type="hidden" name="id" th:value=${lista.key}>
                    <input type="submit" value="Remover" class="btn btn-outline-primary btn-sm align-middle" >
                </form>
            </td>
        </tr>
    </table>
</div>