<div class="container center-text">    
    <table class="table table-bordered" id="feed">
        <tr>
            <th width="20%">Nome</th>
            <th width="40%">Link</th>
            <th width="20%">Editar</th>
            <th width="20%">Remover</th>
        </tr>
        <tr>
            <td>Globo</td>
            <td><a href="http://editoraglobo.globo.com/rss/">http://editoraglobo.globo.com/rss/</a></td>
            <td><a href="/editar">Editar</a></td>
            <td><a href="/remover">Remover</a></td>
        </tr>
    </table>
</div>