<div th:each="noticia : ${noticias}" class="card border-dark mx-auto noticia">
    <div class="card-header text-center manchete">
        <a class="manchete" th:href="${noticia.getLink()}" th:text="${noticia.getTitulo()}">
        </a>
    </div>
    <a th:href="${noticia.getLink()}">
        <td th:switch="${noticia.getImagem()}">
            <span th:case= null></span>
            <div th:case="*">
                <img class="card-img-top"  th:src="${noticia.getImagem()}">
            </div>
        </td>
        
    </a>
    <div class="class-body">
        <p th:text="${noticia.getSubtitulo()}"></p>
        <p class="text-right"><small class="data1 text-muted" th:text="${noticia.getData()}"></small></p>
    </div>
</div>