  <head th:replace="/fragmentos/head.html"></head>
        <body>
            <nav th:replace="/fragmentos/navbar.html"></nav>
            <div class="jumbotron">
                <div class="container text-center">
                  <h1 th:text="${'Erro ' + erro}"></h1>  
                  <h2>Página não encontrada!</h2> 
                  <br>
                  <p>Você digitou algum endereço inexistente.</p>   
                  <!-- <p th:text="${msgDeErro}"></p>  -->
                </div>
            </div>
  <footer th:replace="fragmentos/footer.html"></footer>