    <head th:replace="/fragmentos/head.html"></head>
    
    <body>
       <nav th:replace="/fragmentos/navbar.html"></nav>

        <div class="jumbotron">
            <div class="container text-center">
              <h1>Feed RSS</h1>      
              <p>Seu feed de notícias</p>
            </div>
        </div>
        <div id = "dinamicData">
            <div id = "searchDate" th:replace="/fragmentos/buscaData.html"></div>
        </div>
        <div class="container buscarData" th:unless="${!existemBlogs}">
            <button class="btn btn-outline-primary" onclick="toggleBuscarPorData()">Filtrar por Data</button>
        </div>
        <div>
        	<br><br>
        	<center><a href="expressoes"><button>Ver Word Cloud de expressoes frequentes</button></a></center>
        	<br><br>
        </div>
        <div th:replace="/fragmentos/adicionar.html"></div>
        <div th:if="${existemBlogs}">
            <div th:replace="/fragmentos/fontes.html"></div>
            <div th:replace="/fragmentos/noticia.html"></div>
        </div>
        <div class="container" th:unless="${existemBlogs}">
            <h4 class="text-center">Parece que você ainda não adicionou nenhum feed de notícias!</h4>
        </div>
    <footer th:replace="fragmentos/footer.html"></footer>
