<html>
	<head th:replace="/fragmentos/head.html"></head>
	<body>
		<nav th:replace="/fragmentos/navbar.html"></nav>
		<center><h2>Lista de links dos feeds adicionados</h2></center>
		<div th:unless="${#lists.isEmpty(linksDeBlogs)}">
			<d1 th:each="linkDeBlog : ${linksDeBlogs}">
				<dt class="blogHeadline">
					<a th:href="${linkDeBlog}" th:text="${linkDeBlog}" target="_blank">Link</a>
					<br/><br/>
				</dt>
			</d1>
		</div>
		<div th:if="${#lists.isEmpty(linksDeBlogs)}">
			<p> Nao foi possivel exibir links </p>
		</div>
	</body>
	<footer th:replace="fragmentos/footer.html"></footer>
</html>